@using MovieTickets.Domain.Identity
@inject Microsoft.AspNetCore.Identity.SignInManager<MoviesUser> SignInManager
@model IEnumerable<MovieTickets.Domain.DomainModels.Movie>

@{
    ViewData["Title"] = "Index";
    var isAdmin = SignInManager.IsSignedIn(User) && User.IsInRole("Administrator");
}

<h1>Index</h1>

@if (isAdmin)
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieDuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (isAdmin)
                    {
                        <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        <a class="btn btn-outline-primary" href="Tickets/Create?MovieId=@item.Id">Create Ticket</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
